<extend name="Public:base" />

<!-- 菜单 -->
<block name="menu_nav">
	<ul>
      <li class="menufrist"><a href="/index.php?m=Index&a=index">Home</a></li>
	  <li><a href="/index.php?m=Index&a=index&cateid=3">PHP</a></li><li><a href="/index.php?m=Index&a=index&cateid=4">Python</a></li><li><a href="/index.php?m=Index&a=index&cateid=6">Jquery</a></li><li><a href="/index.php?m=Index&a=index&cateid=7">HTML</a></li><li><a href="/index.php?m=Index&a=index&cateid=8">CSS</a></li><li><a href="/index.php?m=Index&a=index&cateid=9">Linux</a></li><li><a href="/index.php?m=Index&a=index&cateid=10">Apache+MySQL</a></li><li><a href="/index.php?m=Index&a=index&cateid=23">Other</a></li>
    </ul>
</block>

<!-- 左边的内容 -->
<block name="left_content">
	<volist name="artlist" id="a">
		<div class="article first">
         		<h2 class="h123"><a href="{:U("Article/content",array('artid'=>$a['id']))}" target="_blank">{$a['title']}</a></h2>
                <p class="tag">标 签：
				<volist name="a['tags']" id="t">
					<a href="{:U('Article/tags',array('tag'=>$t))}"><span>{$tags[$t]['name']}</span></a>
				</volist>
				</p>
				<div class="clr"></div>
				<div class="date" style="border:none;box-shadow:none;z-index:-100;">
                	<!--
                	<p class="image"><a href="/index.php?m=Index&a=index"><img alt="PhPyRb博客!马伟博客!" src="./Public/Image/logo.jpg" /></a></p>
                    <p class="time"><a href="/index.php?m=Index&a=index">Ma Wei</a></p>
					-->
                </div>
                <div class="clr"></div>
                <div class="cont" id="maxart">{$a['content']}</div>
                <div class="info">
                	<p>
                		<span><a href="{:U('Article/cate',array('cateid'=>$a['cateid']))}" target="_blank">{$cates[$a['cateid']]['name']}</a></span> / 
						<span><a href="/index.php?m=Article&a=index&artid=17" target="_blank">评 论&nbsp;(0)</a></span> / 
						<span>热度&nbsp;(188 ℃)</span> / 
						<span>2013-07-10</span> / 
						<span><a href="/index.php?m=Article&a=index&artid=17" target="_blank">阅读全文&nbsp;</a></span>
					</p>
			      </div>
                </div>
                <div>
                    <div class="clr">
                    </div>
                </div>
	</volist>
</block>
<div class="clr"></div>
<!-- 右边的导航 -->
<block name="hots">
	<volist name="hots" id="h">
		<li>
		    <a href="{:U('Article/content',array('artid'=>$h['id']))}" alt="{$h['keyword']}">{$h['title']}</a>&nbsp;(216)
		</li>
	</volist>
</block>
