
   <div class="footer">
        <p class="lr">© Copyright <a href="http://www.phpyrb.com">http://www.phpyrb.com http://www.cloudsskill.com</a>.</p>
        <p class="lf">Collect from: <a href="http://www.phpyrb.com" title="马伟博客" target="_blank">马伟博客</a></p>
        <div class="clr"></div>
   </div>
	<script type="text/javascript" src="./Public/SyntaxHighlighter/scripts/shCore.js"></script>
	<script type="text/javascript">
		SyntaxHighlighter.config.clipboardSwf = './Public/SyntaxHighlighter/scripts/clipboard.swf';
		SyntaxHighlighter.all();
	</script>
	<script type="text/javascript" src="./Public/Js/jquery-1.11.0.min.js"></script>
    
	<script type="text/javascript" src="./Public/SyntaxHighlighter/scripts/shBrushCss.js"></script>
	<script type="text/javascript" src="./Public/SyntaxHighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="./Public/SyntaxHighlighter/scripts/shBrushPython.js"></script>
    <script type="text/javascript" src="./Public/SyntaxHighlighter/scripts/shBrushSql.js"></script>
    <script type="text/javascript" src="./Public/SyntaxHighlighter/scripts/shBrushBash.js"></script>
    <script type="text/javascript" src="./Public/SyntaxHighlighter/scripts/shBrushPython.js"></script>
    <script type="text/javascript" src="./Public/SyntaxHighlighter/scripts/shBrushPhp.js"></script>
    <div style="display:hidden;">
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F6238436e2f7b68b79f031f095826dc4b' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>
</body>	
</html>