<!doctype html>
<html>
<head>
    <title>python学习,马伟博客,python博客,php博客 ,Python博客,马伟个人博客,PhPyRb博客</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
   	<meta name="keywords" content="PHP,Pythoy,Ruby,Js,Jquery,HTML5,Css,Ajax,python学习,个人主页,博客,网站建设,PHP建站" />
    <meta name="description" content="pythob学习,深圳PHP博客,马伟个人博客,python博客" />
    <link href="./Public/Css/base.css" rel="stylesheet" type="text/css" />
	<link type="text/css" rel="stylesheet" href="./Public/SyntaxHighlighter/styles/shCore.css"/>
	<link type="text/css" rel="stylesheet" href="./Public/SyntaxHighlighter/styles/shThemeDefault.css"/>
</head>
<body>
    <div class="header">
        <div class="logo">
            <h1><a href="/index.php?m=Index&a=index">PhPyRb<span> Blog</span></a><small style="font-size:13px;">&nbsp;&nbsp;&nbsp;MaWei</small></h1>
        </div>
        <div class="menu_nav">
            <ul>
              <li class="menufrist"><a href="/index.php?m=Index&a=index">Home</a></li>
			  <li><a href="/index.php?m=Index&a=index&cateid=3">PHP</a></li><li><a href="/index.php?m=Index&a=index&cateid=4">Python</a></li><li><a href="/index.php?m=Index&a=index&cateid=6">Jquery</a></li><li><a href="/index.php?m=Index&a=index&cateid=7">HTML</a></li><li><a href="/index.php?m=Index&a=index&cateid=8">CSS</a></li><li><a href="/index.php?m=Index&a=index&cateid=9">Linux</a></li><li><a href="/index.php?m=Index&a=index&cateid=10">Apache+MySQL</a></li><li><a href="/index.php?m=Index&a=index&cateid=23">Other</a></li>			  <!--
              <li><a href="support.html">Support</a></li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="contact.html">Contact Us</a></li>
			  -->
            </ul>
            <div class="search">
            	<form method="get" action="/index.php?m=Index&a=search">
	                <input type="search" name="keyword" style="width:160px;height:36px;line-height:36px;background:none;border:0px;font-size:16px;" />
	                <input type="submit" value=" " style="width:72px;height:25px;margin-left:3px;border:none;background:url(Public/Image/searchbtn.png) no-repeat 0 -1px;"/>
					<input type="hidden" name="m" value="Index">
					<input type="hidden" name="a" value="search">
				</form>
            </div>
        </div>
      <!--<div class="search">-->
        <!--<form id="form" name="form" method="post" action="">-->
          <!--<span>-->
          <!--<input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="Search..." />-->
           <!--</span>-->
          <!--<input name="b" type="image" src="images/search.gif" class="button" />-->
        <!--</form>-->
       <!--</div>-->
   </div>