<!doctype html>
<html>
    <head>
        <title><block name="title">python学习,马伟博客,python博客,php博客 ,Python博客,马伟个人博客,PhPyRb博客</block></title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta name="keywords" content="<block name="keywords">PHP,Pythoy,Ruby,Js,Jquery,HTML5,Css,Ajax,python学习,个人主页,博客,网站建设,PHP建站</block>" />
        <meta name="description" content="<block name="description">pythob学习,深圳PHP博客,马伟个人博客,python博客</block>" />
        <link href="./Public/Css/base.css" rel="stylesheet" type="text/css" />
        <link type="text/css" rel="stylesheet" href="./Public/SyntaxHighlighter/styles/shCore.css"/>
        <link type="text/css" rel="stylesheet" href="./Public/Css/prism.css"/>
        <link type="text/css" rel="stylesheet" href="./Public/SyntaxHighlighter/styles/shThemeDefault.css"/>
    </head>
    <body>
        <div class="header">
        	<div class="header_nav">
        		<div class="logo inline"><a href="{:U('Article/index')}">PhPython Blog</a></div>
        		<div class="inline">
	        	<dl class="mean">
	        		<dd>
	        			<a href="**" title="">学习,马伟</a>
	        			<dl class="">
	        				<dd><a href="aa">学习,马伟</a>
	        				<dd><a href="aa">学习,马伟</a>
	        				<dd><a href="aa">学习,马伟</a>
	        			</dl>
	        		</dd>
	        		<dd>
	        			<a href="**" title="">学习,马伟</a>
	        			<dl>
	        				<dd><a href="aa">学习,马伟</a>
	        				<dd><a href="aa">学习,马伟</a>
	        				<dd><a href="aa">学习,马伟</a>
	        				<dd><a href="aa">学习,马伟</a>
	        			</dl>
	        		</dd>
	        	</dl>
	        	</div>
	        	<div class="clr"></div>
        	</div>
        </div>