<!-- start header -->
<include file="Public:header" />
<!-- end header -->
<!-- start content -->
    <div class="content">
   		<!-- start left -->
   		<block name="weiboleft">
   			<div class="weiboleft">
				<dl>
					<dd>不作不会死</dd>
					<dd>不作不会死</dd>
					<dd>不作不会死</dd>
					<dd>不作不会死</dd>
					<dd>不作不会死</dd>
				</dl>
			</div>
   		</block>
        <!-- end left -->
        <!-- start centent -->
        <div class="weibocont">
        	<!-- start wei -->
        <block name="weibocont">
        	<div class="wei">
        		<div class="weiface">
        			<img src="./Public/Image/bg-login.gif" />
        		</div>
        		<div class="weimain">
        			<div class="userinfo">
        				<a href="###" title="###" >不作不会死</a>
        			</div>
        			<div class="topic">
        				asdfasdfasdfasdf
        				<br />sdasdfgsdfasdfas
        				asdfasdfasdf
        			</div>
        			<div class="topicimg">
        				<div class="mutlimg">
        					<dl>
        						<dd><img src="./Public/Image/bg-login.gif" /></dd>
        						<dd><img src="./Public/Image/bg-login.gif" /></dd>
        						<dd><img src="./Public/Image/bg-login.gif" /></dd>
        						<dd><img src="./Public/Image/bg-login.gif" /></dd>
        						<dd><img src="./Public/Image/bg-login.gif" /></dd>
        						<dd><img src="./Public/Image/bg-login.gif" /></dd>
        						<dd><img src="./Public/Image/bg-login.gif" /></dd>
        						<dd><img src="./Public/Image/bg-login.gif" /></dd>
        					</dl>
        				</div>
        				<div class="clr"> </div>
        				<div class="singleimg">
        					<img src="./Uploads/2014-05/7.jpg" alt="alt11" />
        				</div>
        			</div>
        			<div class="clr"> </div>
        			<div class="weiinfo">
        				<div class="sendtime">
        					<span>今天 2014－06</span>
        					<span>姓名 </span>
        				</div>
        				<div class="operation">
        					<a href="###">评论</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        					<a href="###">收藏</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        					<a href="###">转发</a>        					
        				</div>
        			</div>
        			<div class="clr"> </div>
        		</div>
        		<div class="clr"> </div>
        	</div>
       	</block>
        	<div class="clr"> </div>
        	<!-- end wei -->
        </div>
       	<!-- start right -->
        <div class="weiboright">
        	
        </div>
        <!-- end right -->
	</div>
	<div class="clr"> </div>

   <div class="footer">
        <p class="lr">© Copyright <a href="http://www.phpyrb.com">http://www.phpyrb.com http://www.cloudsskill.com</a>.</p>
        <p class="lf">Collect from: <a href="http://www.phpyrb.com" title="马伟博客" target="_blank">马伟博客</a></p>
        <div class="clr"> </div>
   </div>
<script type="text/javascript" src="./Public/Js/jquery-1.11.0.min.js"></script>
<script src="./Public/Js/popup.js"></script>
<!-- <link href="./Public/Css/popup.css" rel="stylesheet" type="text/css" /> -->
<script>
	$(function (){
		// $('.topicimg').each(function (){
			// $(this).find('img').click(function () {
				// var src = $(this).attr('src');
				// alert(src);
			// });
		// });
		$('.topicimg').PopupImg({});
	});
</script>
</body>	
</html>