@CHARSET "UTF-8";
#phpyrb{position:fixed;display:block;z-index:900;width:1000px;height:1000px;top:0;left:0;}
#show{border:#999 10px solid;border-radius:10px;display:block;z-index:910;background:#fff;position:fixed;}
