<!-- 引入公共模板 --><extend name="Public:base" />
<block name="content">
    <!-- Start Content Box -->
    <div class="content-box-header">
        <h3>Categorys List</h3>
        <ul class="content-box-tabs">
         <!--   <li>
                <a href="#tab1" class="default-tab">Categorys List</a>
            </li>
            <!-- href must be unique and match the id of target div
            <li>
                <a href="#tab2">Tags List</a>
            </li>
        </ul> -->
        <div class="clear">
        </div>
    </div>
    <!-- End .content-box-header -->
    <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
            <table>
                <thead>
                    <tr>
                        <th><input class="check-all" type="checkbox" /></th>
                        <th>ID</th>
                        <th>TwitterCate Name</th>
                        <th>Status</th>
                        <th>Menu Order</th>
                        <th>Description</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                	<volist name="tcate" id="c">
	                    <tr>
	                        <td><input type="checkbox" value="{$c['id']}" name="cateid[]"/></td>
	                        <td>{$c['id']}</td>
	                        <td>{$c['name']}</td>
	                        <td>{$status[$c['status']]}</td>
	                        <td>{$c['sort']}</td>
	                        <td>{$c['description']}</td>
	                        <td>
			                  <!-- Icons -->
			                  <a href="{:U('Twitter/cedit',array('cid'=>$c['id']))}" title="Edit"><img src="/Public/Image/icons/pencil.png" alt="Edit" /></a> 
			                  <a href="{:U('Twitter/delcate',array('cid'=>$c['id']))}" title="Delete"><img src="/Public/Image/icons/cross.png" alt="Delete" /></a> 
			                  <a href="#" title="Edit Meta"><img src="/Public/Image/icons/hammer_screwdriver.png" alt="Edit Meta" /></a> 
	                        </td>
	                    </tr>
					</volist>
                </tbody>
				<tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="bulk-actions align-left">
                               
                            </div>
                            <div class="pagination">
                           	{$cpage}
                            </div>
                            <!-- End .pagination -->
                            <div class="clear">
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div><!-- End #tab1 -->
        <!-- End #tab2 -->
    </div>
    <!-- End .content-box-content -->
</block>
